@import 'ui/styles/core';


.tictactoe-board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 600px;
  max-width: 90%;
  margin: 10px auto;
  background-color: $white;
  color: $primary;
}
